.tool {
  display: flex;
  justify-content: space-between;
}

.title,
.navmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .navmenu {
    display: none;
  }
}
