.profile-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-card CardHeader {
  display: flex;
  justify-content: center;
}

.removebtn {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 1rem;
  margin-bottom: 3rem;
}
